public-f net.minecraft.world.level.Explosion f_46013_ # x
public-f net.minecraft.world.level.Explosion f_46014_ # y
public-f net.minecraft.world.level.Explosion f_46015_ # z
public-f net.minecraft.commands.arguments.blocks.BlockInput f_114664_ # tag
public net.minecraft.client.gui.components.AbstractSelectionList$Entry
# Fix YACL
public-f net.minecraft.client.gui.components.AbstractSelectionList m_6702_()Ljava/util/List; # children